### Demand Forecasting
Demand Forecasting is the process in which historical sales data is used to develop an estimate of an expected forecast of customer demand. To businesses, Demand Forecasting provides an estimate of the amount of goods and services that its customers will purchase in the foreseeable future. Critical business assumptions like turnover, profit margins, cash flow, capital expenditure, risk assessment and mitigation plans, capacity planning, etc. are dependent on Demand Forecasting.

Demand Forecasting is the pivotal business process around which strategic and operational plans of a company are devised. Based on the Demand Forecast, strategic and long-range plans of a business like budgeting, financial planning, sales and marketing plans, capacity planning, risk assessment and mitigation plans are formulated.

Short to medium term tactical plans like pre-building, make-to-stock, make-to-order, contract manufacturing, supply planning, network balancing, etc. are execution based. Demand Forecasting also facilitates important management activities like decision making, performance evaluation, judicious allocation of resources in a constrained environment and business expansion planning.

### PROBLEM STATEMENT
One of the largest retail chains in the world wants to use their vast data source to build an efficient forecasting 
model to predict the sales for each SKU in its portfolio at its 76 different stores using historical sales data for
the past 3 years on a week-on-week basis. Sales and promotional information is also available for each week - product 
and store wise. 

Can you still forecast accurately the sales values for every such product/SKU-store combination for the next 12 weeks accurately?

In [ ]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

from datetime import datetime

In [3]:
pwd

'/Users/himanshee_tyagi/Documents/GitHub/DemandForecasting_JanataHack'

In [7]:
# Reading CSV
train = pd.read_csv("train_0irEZ2H.csv")
test = pd.read_csv("test_nfaJ3J5.csv")
train.head()

,record_ID,week,store_id,sku_id,total_price,base_price,is_featured_sku,is_display_sku,units_sold
0,1,17/01/11,8091,216418,99.0375,111.8625,0,0,20
1,2,17/01/11,8091,216419,99.0375,99.0375,0,0,28
2,3,17/01/11,8091,216425,133.9500,133.9500,0,0,19
3,4,17/01/11,8091,216233,133.9500,133.9500,0,0,44
4,5,17/01/11,8091,217390,141.0750,141.0750,0,0,52

In [9]:
## How many records are available?
train.count()

record_ID          150150
week               150150
store_id           150150
sku_id             150150
total_price        150149
base_price         150150
is_featured_sku    150150
is_display_sku     150150
units_sold         150150
dtype: int64

In [10]:
## Checking null values for each column
train.isna().sum()

record_ID          0
week               0
store_id           0
sku_id             0
total_price        1
base_price         0
is_featured_sku    0
is_display_sku     0
units_sold         0
dtype: int64

In [11]:
## Checking unique values for each column
train.nunique()

record_ID          150150
week                  130
store_id               76
sku_id                 28
total_price           646
base_price            572
is_featured_sku         2
is_display_sku          2
units_sold            708
dtype: int64

In [18]:
x= train["is_featured_sku"].sum()
y= train["is_display_sku"].sum()
y

20000

In [21]:
plt.bar(train["is_featured_sku"])
plt.show()

TypeError: bar() missing 1 required positional argument: 'height'